.error-info {
  margin-left: 38px;
}

.thumbnail {
  box-shadow: 5px 5px 18px rgba(46, 61, 73, .2);
  border-radius: 3px;
  transition: transform .2s; /* Animation */
}

.thumbnail:hover {
  transform: scale(1.05);
}

* {
  font-family: Arial !important;
}

.portfolio-image {
	margin-top: 10px;
}